<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>APP TO DO LIST</title>
</head>


<body>

<div class="main" ng-app="myApp" ng-controller="todoCtrl">

<h2>TO DO LIST</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Agregue una nueva actividad">
    <input type="submit" value="Agregar">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done" > 
    <span ng-class="{done:x.done}">{{x.todoText}} </span>
   
</div>

<p><button ng-click="remove()">Borrar</button></p>

</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src ="scripts.js"></script>
</html>